.card {
    width: 100%;
    min-height: 320px;
    background: #FFFFFF;
    border-radius: 20px;
    padding: 0;
    border: none;
    transition: box-shadow .2s linear;
    overflow: scroll;
}

.card:hover {
    box-shadow: 0 0 30px white;
}

.card:nth-child(1) {
    grid-area: three;
}
.card:nth-child(2) {
    grid-area: one;
}
.card:nth-child(3) {
    grid-area: two;
}
.card:nth-child(4) {
    grid-area: four;
}
.card:nth-child(5) {
    grid-area: five;
}
.card:nth-child(6) {
    grid-area: six;
}
.card:nth-child(7) {
    grid-area: seven;
}
.card:nth-child(8) {
    grid-area: eight;
}
.card:nth-child(9) {
    grid-area: nine;
}

@media screen and (max-width: 865px) {
    .card:nth-child(4) {
        display: none;
    }
    .card:nth-child(6) {
        display: none;
    }
}
